
.tooltip {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    color: #fff;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}